
<%- include ../partials/header.ejs %> 
<!-- Top navigation menu bar -->
<%- include ../partials/main_nav.ejs %> 

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>
            <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/contact-list/add" style="width: 25%; " class="btn btn-warning" role="button">Add Contact</a>
            <% } %>
            <br>
            
            <table class="table table-bordered table-striped table-hover table-dark">
                <!-- Header Row-->
                <tr class="text-muted">
                    <% if (typeof displayName == 'string' && displayName) { %>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <% } else { %>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center"></th>
                   
                    <% } %>
                </tr>

                <!-- Repeatable Template row -->
                
                <% for(let count = 0; count < contactList.length; count++) { %>
                    <tr class="text-white">
                        <% if (typeof displayName == 'string' && displayName) { %>
                        <td class="text-center align-middle"><%= contactList[count].name %></td>
                        <td class="text-center align-middle"><%= contactList[count].number %></td>
                        <td class="text-center align-middle"><%= contactList[count].email %></td>
                        <td class="text-center">
                            <a href="/contact-list/edit/<%= contactList[count]._id %> " class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center">
                            <a href="/contact-list/delete/<%= contactList[count]._id %> " class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <% } else { %>
                            <td class="text-center align-middle"><%= contactList[count].name %></td>
                        <td class="text-center align-middle"><%= contactList[count].number %></td>
                        <td class="text-center align-middle"><%= contactList[count].email %></td>
                        <td class="text-center"></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
            
        </div>
    </div>

</main>

  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  












<!-- Scripts Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>
